
xmpp.jid = agent@example.com
xmpp.password = tellNoOne
xmpp.host = localhost
xmpp.port = 1023
xmpp.component = server.test.com

host.ip = 123.456.789
host.macAddress = A1:B2:C3:D4:E5:67
host.name = agent

green.TurnOffCommand = pm-suspend
green.sleepingTime = 300000

green.threadTime = 60