green.cloudtechnology = openstack 

xmpp.jid = green-sitter.example.com
xmpp.password = tellNoOne
xmpp.host = localhost
xmpp.port = 1023

openstack.endpoint = http://novacompute.endpoint.com/v2.0
openstack.username = fogbow
openstack.password = itIsASecret
openstack.tenant = fogbow-project

greenstrategy.gracetime = 1800
greenstrategy.expirationtime = 300
