xmpp.jid = green-sitter.example.com
xmpp.password = tellNoOne
xmpp.host = localhost
xmpp.port = 1023

openstack.endpoint = http://novacompute.endpoint.com/v2.0
openstack.username = admin
openstack.password = itIsASecret
openstack.tenant = admin

greenstrategy.gracetime = 1800
greenstrategy.expirationtime = 300

wol.broadcast.address = 123.123.255.255

green.threadTime = 60